* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    list-style: none;
    text-decoration: none;
}



header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
}

.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.pata {
    width: 35px;
    height: 35px;
}

#logo {
    color: white;
    font-size: 30px;
    margin: 0 10px;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

/* primeira sessão */
.sectionOne {
    background-image: url(./img/Web/risonho.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pata2 {
    width: 65vw;
    height: 70vh;
    text-align: center;
}

.sectionOne h2 {
    color: #ffffff;
    font-size: 50px;
    font-family: "Roboto Serif", serif;
}

/* Segunda sessão */
.sectionTwo {
    display: flex;
    align-items: center;
    background-image: url(./img/Web/fantasiado.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
    height: 60vh;
    color: #3A342F;
    margin-left: 30px;

}

.service h2 {
    font-size: 49px;
    font-weight: bold !important;
    font-family: "Roboto Serif", serif;
}

.service p {
    font-size: 27px;

}

.sectionTwo button {
    padding: 30px;
    border-radius: 44px;
    border: none;
    background: #3A342F;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    width: 20vw;
}

/* Terceira sessão */
.sectionThree {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(./img/Web/serio.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.service2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
    height: 60vh;
    margin-right: 30px;
}

.service2 h2 {
    font-size: 49px;
    color: #ffffff;
    font-family: "Roboto Serif", serif;
}

.service2 p {
    font-size: 27px;
    color: #ffffff;
}

.sectionThree button {
    padding: 10px;
    width: 20vw;
    height: 10vh;
    border-radius: 44px;
    border: none;
    background: #ffffff;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}

/* Quarta sessão */
.support {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
}
.support figure{
    display: flex;
}

.names {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.names h2 {
    color: #FD6A9A;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
}

.names img {
    margin: 0 20px;
}

footer {
    align-items: center;
    height: 30vh;
    background: #EB4A7B;
    color: white;
}

.column {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    height: 30vh;
}

.channel {

    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile,
.mobileSocial {
    display: none;
}

footer h3 {
    font-size: 35px;
}

footer a {
    color: #ffffff;
    font-size: 22px;
    font-weight: normal !important;
}

/* MOBILE */
@media (max-width: 630px) {

    /* primeira sessão */
    header {
        justify-content: space-around;
    }

    #youtube,
    #insta {
        display: none;
    }

    .sectionOne {
        background-image: url(./img/Mobile/felizMobile.png);
    }

    .sectionOne h2 {
        font-size: 40px;
    }

    .pata2 img {
        width: 20vw;
    }

    /* segunda sessão */
    .sectionTwo {
        background-image: url(./img/Mobile/fantasiadoMobile.png);
        align-items: flex-start;
    }

    .service {
        margin-top: 60px;
        width: 85vw;
        height: 50vh;
    }

    .service h2 {
        font-size: 40px;
    }

    .service p {
        font-size: 27px;
    }

    .service button {
        font-size: 22px;
        width: 50vw;
    }

    /* terceira sessão */
    .sectionThree {
        align-items: flex-start;
    }

    .service2 {
        margin-top: 60px;
        width: 100vw;
        height: 50vh;
        margin-left: 30px;
    }

    .service2 h2 {
        font-size: 35px;
    }

    .service2 p {
        font-size: 22px;
    }

    .service2 button {
        font-size: 22px;
        width: 50vw;
    }

    .sectionThree {
        background: url(./img/Mobile/serioMobile.png);
        height: 120vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* footer */
    .names {
        flex-direction: column;
        width: 100vw;
    }

    .names figure {
        flex-direction: row;
        width: 100%;
        display: flex;
    }

    .support {}

    .pataMobile {
        height: 70px;
        margin-right: 10px;
    }

    .escritaMobile {
        font-size: 30px;
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25px 10px;

    }

    .mobileSocial {
        display: flex;
        height: 40px;
        justify-content: center;
        margin: 0 10px;
    }

    .footerMob {
        margin: 0 10px;
    }

    .content {
        width: 100%;
        height: 70vh;
        background-color: #EB4A7B;
    }

    .column {
        flex-direction: column;
        font: 20px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .channel {
        margin-top: 25px;
        text-align: center;
    }

}